<div class="list__add__button">
  <a [routerLink]="['/articles/details/new']"
  ><button class="list__button btn btn-success">Add <span class="list__button__model" *ngIf="articles && articles.length"> &nbsp;{{ articles[0]['_model'] }}</span></button></a
>
</div>

<ul class="list-group list">
  <li
    *ngFor="let article of articles"
    class="list-group-item list__item"
  >
    <div>
      <img
        [src]="article.image"
        (alt)="(article.title)"
        class="list__item__image"
      />
      &nbsp;
      {{ article.title }}
    </div>
    <div>
      <button
        class="btn btn-danger"
        (click)="deleteHandler(article)"
        >DELETE</button
      >
      &nbsp;
      <a [routerLink]="['/articles/details/' + article._id]"
        ><button class="btn">EDIT</button></a
      >
    </div>
  </li>
</ul>
